[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Brackets that runs in your web brower
[access "refs/*"]
	owner = group user/Darryl Dias (DarrylDias)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Darryl Dias (DarrylDias)
	label-Verified = -1..+1 group user/Darryl Dias (DarrylDias)
	push = group user/Darryl Dias (DarrylDias)
	read = group user/Darryl Dias (DarrylDias)
	rebase = group user/Darryl Dias (DarrylDias)
	removeReviewer = group user/Darryl Dias (DarrylDias)
	submit = group user/Darryl Dias (DarrylDias)
[access "refs/heads/*"]
	create = group user/Darryl Dias (DarrylDias)
	push = +force group user/Darryl Dias (DarrylDias)
	pushMerge = group user/Darryl Dias (DarrylDias)
	read = group user/Darryl Dias (DarrylDias)
[access "refs/tags/*"]
	push = group user/Darryl Dias (DarrylDias)
	push = +force group user/Darryl Dias (DarrylDias)
